/* .menu ul{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50vw;
  margin: auto;
  height:7vh;
  background-color: white;
  position: absolute;
  left: 22vw;
  top: 4.7vh;

}
.menu li{
  margin-right: 7vw;
  list-style:none ;

  
}

.menu img {
  height: 4rem;
} */